<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Order Management Subsystem</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Order Management Subsystem</h1>
        <hr>
        <h2>Update order status</h2>

        <form th:action="@{/order/status/update}" th:object="${order}" method="POST">

            <input type="hidden" th:field="*{orderId}" />
            <select th:field="*{orderStatus}" class="form-control mb-3 col-4" required>
                <option value="" disabled selected>Select Status</option>
                <option th:each="status : ${orderStatuses}" th:value="${status}" th:text="${status}"></option>
            </select>

            <button type="submit" class="btn btn-info col-2"> Update order status</button>
        </form>

        <hr>

        <a th:href="@{/order/}"> Back to list of orders</a>
    </div>
</body>

</html>